.container {
  padding: 0 2rem;
}

.main {
  padding: 8rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15em;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 2rem 0 4rem;
  line-height: 1.5em;
  font-size: 1.5rem;
}

.subtitle {
  margin: 0;
  line-height: 1.15em;
  font-size: 2rem;
}

.list {
  margin: 2rem 0;
  list-style: none;
}

.list li {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  border: 1px solid #333;
  padding: 1.5rem;
}

.list li div {
  display: flex;
  column-gap: 0.5rem;
}

.list li div strong {
  font-size: 1rem;
  line-height: 1em;
  background: #333;
  padding: 0.5rem 0.75rem;
  border-radius: 1rem;
}

.list li div code {
  font-size: 1rem;
  line-height: 2em;
}

.list li div p {
  font-size: 1rem;
  line-height: 1.5em;
  margin: 0;
}

.footer {
  display: flex;
  justify-content: center;
}
